project:
  type: manuscript
  output-dir: docs

manuscript:
  article: index.qmd
  code-links:
   - repo

repo-url: https://github.com/gbv/bartoc-vocabulary-software

format:
  html:
    highlight-style: kate
    notebook-links: false
  # pdf: default

execute:
  freeze: true
